<section class="space-craft-card__img o-grid-cell u-width-15 u-fill-height u-relative">
  <span class="u-absolute u-transform-center">
    {{itemNumber}}
  </span>
</section>

<section class="space-craft-card__content o-grid-cell u-fill-width u-fill-height u-relative g-bg-nearWhite">
  <div class="u-fill-width u-fill-height u-ml3 u-mr3 o-flex-grid o-flex-grid--center o-flex-grid--spaceAround">
    <span class="o-grid-cell">{{item.name}}</span>
    <span class="o-grid-cell">{{item.year}}</span>
  </div>
</section>
