@import './variables/variables.css';
@import './components/components.css';

:root {
  --width__main-content-container: 60rem;
  --width__item-controls: calc(var(--width__main-content-container) * 0.22);
}

.g-theme-primary--500 {
  color: var(--theme-color__primary-1--500);
}
.g-theme-offWhite {
  color: var(--theme-color__offWhite);
}
.g-theme-nearBlack {
  color: var(--theme-color__nearBlack);
}

.g-bg-theme-primary--500 {
  background-color: var(--theme-color__primary-1--500);
}
.g-bg-theme-offWhite {
  background-color: var(--theme-color__offWhite);
}
.g-bg-theme-nearBlack {
  background-color: var(--theme-color__nearBlack);
}

.homepage-demo {

  &__main-container {
    width: var(--width__main-content-container);
  }

  &__demo-grid-row {
    height: 30rem;
  }

  &__stagger-set-container {
    width: calc(100% - var(--width__item-controls));
    background-color: var(--theme-color__offWhite);
  }

  &__item-controls {
    width: var(--width__item-controls);
  }

  &__direction-radio-bar {
    border-bottom-color: var(--theme-color__accent-4--100);
  }
}




.c-radio-widget  {

}


.c-button {
  position: relative;
  outline: none;
  border: none;
  border-radius: 0.125em;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 0.065em 0.125em hsla(0, 0, 0, 0.14);


  &.c-button--hover-raise {

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: opacity 0.4s ease-in-out;
      box-shadow: 0 0.3em 0.9em hsla(0, 0, 0, 0.34);
      opacity: 0;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &:focus,
  &:active {
    outline: aqua;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color__grayscale--disabled);
  }
}
