@import './variables/variables.css';
@import './components/components.css';



.g-theme-primary--500 {
  color: var(--theme-color__primary-1--500);
}
.g-theme-offWhite {
  color: var(--theme-color__offWhite);
}
.g-theme-nearBlack {
  color: var(--theme-color__nearBlack);
}

.g-bg-theme-primary--500 {
  background-color: var(--theme-color__primary-1--500);
}
.g-bg-theme-offWhite {
  background-color: var(--theme-color__offWhite);
}
.g-bg-theme-nearBlack {
  background-color: var(--theme-color__nearBlack);
}

.homepage-demo {
  .homepage-demo__demo-grid-area {
    width: 50rem;
    height: 30rem;
  }
  .homepage-demo__stagger-list-container {
    background-color: var(--theme-color__offWhite);
  }

  .homepage-demo__item-controls {

  }
}


.space-craft-card {
  height: 5rem;
}

.space-craft-card {
  &:nth-child(4n+1) {
    .space-craft-card__img {
      background-color: var(--theme-color__secondary-1--500);
    }
  }
  &:nth-child(4n+2) {
    .space-craft-card__img {
      background-color: var(--theme-color__secondary-2--500);
    }
  }
  &:nth-child(4n+3) {
    .space-craft-card__img {
      background-color: var(--theme-color__secondary-1--500);
    }
  }
  &:nth-child(4n+4) {
    .space-craft-card__img {
      background-color: var(--theme-color__secondary-2--500);
    }
  }
}


.c-radio-widget  {

}

.c-slider-widget {
  .c-slider-widget__slider {
    -webkit-appearance: none;

    ::-webkit-slider-thumb,
    ::-moz-range-thumb,
    ::-ms-thumb {
      background-color: yellow;
      height: 10%;
      width: 10%;
    }

  }
}

.c-button {
  position: relative;
  outline: none;
  border: none;
  border-radius: 0.125em;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 0.065em 0.125em hsla(0, 0, 0, 0.14);


  &.c-button--hover-raise {

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: opacity 0.4s ease-in-out;
      box-shadow: 0 0.3em 0.9em hsla(0, 0, 0, 0.34);
      opacity: 0;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      transform: scale(1.05);
    }
  }
  &:focus,
  &:active {
    outline: aqua;
  }
}
