.c-slider-widget {

  width: 20rem;

  .c-slider-widget__input {
    /* Hides the slider so that custom slider can be made */
    -webkit-appearance: none;

    /* Specific width is required for Firefox. */
    width: 100%;

    /* Only remove because we're creating our own effect */
    &:focus {      
      outline: none;
    }

    /**
    * ------------------------------------------------------
    * Browser-specific track and thumb styling
    *
    * NOTE: Selectors must be targeted individually (not within comma-separated groups)
    * This is because browsers will drop the entire selector if
    * they understand a part of it.
    * ------------------------------------------------------
    */

    /* Styling for WebKit/Blink thumb */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: pointer;
      border: var(--border-color__slider-thumb);
      height: var(--height__slider-thumb);
      width: var(--width__slider-thumb);
      border-radius: var(--border-radius__slider-thumb);
      background-color: var(--background-color__slider-thumb);
      box-shadow: var(--box-shadow__slider-thumb);

      /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      margin-top: calc(-1 * ( var(--height__slider-thumb) * 0.48 ));
    }

    /* Styling for WebKit/Blink track */
    &::-webkit-slider-runnable-track {
      cursor: pointer;
      width: 100%;
      height: var(--height__slider-track);
      box-shadhow: var(--box-shadow__slider-track);
      background-color: var(--background-color__slider-track--noFocus);
      border-radius: var(--border-radius__slider-track);
      border: var(--border__slider-track);
    }

    &:focus::-webkit-slider-runnable-track {
      background-color: var(--background-color__slider-track--focus);
    }


    /* Styling for Firefox thumb */
    &::-moz-range-thumb {
      cursor: pointer;
      border: var(--border-color__slider-thumb);
      height: var(--height__slider-thumb);
      width: var(--width__slider-thumb);
      border-radius: var(--border-radius__slider-thumb);
      background-color: var(--background-color__slider-thumb);
      box-shadow: var(--box-shadow__slider-thumb);
    }


    /* Styling for Firefox track */
    &::-moz-range-track {
      cursor: pointer;
      width: 100%;
      height: var(--height__slider-track);
      box-shadhow: var(--box-shadow__slider-track);
      background-color: var(--background-color__slider-track--noFocus);
      border-radius: var(--border-radius__slider-track);
      border: var(--border__slider-track);
    }


    /* Styling for IE/Edge Thumb */
    &::-ms-thumb {
      cursor: pointer;
      border: var(--border-color__slider-thumb);
      height: var(--height__slider-thumb);
      width: var(--width__slider-thumb);
      border-radius: var(--border-radius__slider-thumb);
      background-color: var(--background-color__slider-thumb);
      box-shadow: var(--box-shadow__slider-thumb);
    }

    /* Styling for IE/Edge Thumb */
    &::-ms-track {
      width: 100%;
      height: var(--height__slider-thumb);
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: calc(var(--height__slider-thumb) * 2);
      color: transparent;
    }

    &::-ms-fill-lower {
      background-color: var(--background-color__slider-track--noFocus);
      border: var(--border__slider-track);
      border-radius: var(--border-radius__slider-track);
      box-shadow: var(--box-shadow__slider-track);
    }
    &::-ms-fill-upper {
      background-color: var(--background-color__slider-track--noFocus);
      border: var(--border__slider-track);
      border-radius: var(--border-radius__slider-track);
      box-shadow: var(--box-shadow__slider-track);
    }

    &:focus::ms-fill-lower {
      background-color: var(--background-color__slider-track--focus);
    }
    &:focus::ms-fill-upper {
      background-color: var(--background-color__slider-track--focus);
    }
  }
}
