:root {
  --theme-color__primary-1--100: hsla(9, 100%, 82%, 1);
  --theme-color__primary-1--500: hsla(9, 100%, 66%, 1);

  --theme-color__secondary-1--500: hsla(55, 100%, 71%, 1);
  --theme-color__secondary-2--500: hsla(211, 52%, 60%, 1);

  --theme-color__nearBlack: hsla(0, 0%, 21%, 1);
  --theme-color__offWhite: hsla(48, 28%, 82%, 1);
}
